<h1>WELCOME TO CREATION MARKET THING</h1>
<div>
  <a routerLink='/home'>I_AM_SUPPOSED_TO_BE_A_BACK_ARROW_BUT_THERE_IS_NO_BUDGET</a>
</div>
<div>
  <input [(ngModel)]='name' type="text" name="name" placeholder="Type name">
</div>
<div>
  <input [(ngModel)]='email' type="email" name="email" placeholder="Type email">
</div>
<div>
  <input [(ngModel)]='pass' type="password" name="pass" placeholder="Type password">
</div>
<div>
  <button (click)="createBrand(name,email,pass)">CLICK ME PLIS</button>
</div>

